.info_wrapper {
  text-align: left;
}

.tags_wrapper {
  text-align: left;
  width: 100%;
  margin-top: 20px;
}


@media screen and (min-width: 1200px) {
  .gridlist {
    width: 450px;
  }

  .info_wrapper {
    margin-left: -120px;
    margin-top: 15px;
  }

  .Username {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .Email {
    font-size: 14px;
  }

  .tags {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .gridlist {
    width: 400px;
  }

  .info_wrapper {
    margin-left: -90px;
    margin-top: 15px;
  }

  .Username {
    font-size: 26px;
    margin-bottom: 10px;
  }

  .Email {
    font-size: 13px;
  }

  .tags {
    font-size: 18px;
  }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
  .gridlist {
    width: 400px;
  }

  .info_wrapper {
    margin-left: -110px;
    margin-top: 16px;
  }

  .Username {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .Email {
    font-size: 12px;
  }

  .tags {
    font-size: 17px;
  }

  .avatar {
    width: 70px;
    margin-top: 8px;
  }
}

@media screen and (max-width: 600px) {
  .gridlist {
    width: 240px;
  }

  .info_wrapper {
    margin-left: -40px;
    margin-top: 15px;
  }

  .Username {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .Email {
    font-size: 13px;
  }

  .tags {
    font-size: 16px;
  }

  .avatar {
    width: 65px;
    margin-top: 14px;
  }
}
