.mainContent {
  width: 100%;
  /*min-width: 1200px;*/
  background: url("../../assets/graphics/home.png")  no-repeat center fixed;
  /*background-size: 100% 100%;*/
  /*background-image: url("../../assets/graphics/home.png");*/
  /* 背景图垂直、水平均居中 */
  /*background-position: center center;*/
  /* 背景图不平铺 */
  /*background-repeat: no-repeat;*/
  /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
  /*background-attachment: fixed;*/
  /* 让背景图基于容器大小伸缩 */
  background-size: cover;
}

.root {
  width: 100px;
  height: 50px;
  float: right;
  margin-right: 40px;
  margin-top: 20px;
  display: flex;
  flexWrap: wrap;
  justifyContent: space-around;
}

.gridList {
  display: flex;
  flexWrap: nowrap;
  overflowX: auto;
}

.menuPic {
  width: 52px;
  height: 14px;
  background-image: url("../../assets/graphics/menu.png");
  margin-top: 16.3px;
  margin-left: -15px;
}

