.mainContent {
  width: 100%;
  min-width: 1200px;
  height: auto;
}

.header {
  background: #ffffff;
  color: #333333;
  /*position: fixed;*/
}

.logo {
  width: 65px;
  height: 34px;
}

.title {
  position: relative;
  margin-left: 10px;
}

.link {
  font-size: 14px;
  color: #bdbdbd;
}

.link:hover {
  font-size: 14px;
  color: #333333;
}
